@import '../../../assets/themes/colors';

.crumbs {
  display: flex;
  height: 100%;
  align-items: center;

  .crumb {
    cursor: pointer;

    &__delimiter {
      font-size: small;

      &-container {
        margin: 4px 13px 0;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}