@import '../assets/themes/colors';

.app {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  height: 100%;

  .router-container {
    margin-top: 40px;
  }
}

body {
  margin: 0 !important;
}


/* For fade animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
router-outlet + * {
  display: block;  /* Change display inline to block */
  animation: fade 1s;
}
