@import '../../../assets/themes/colors';

.products-list {
  width: 80%;

  &-container {
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    justify-content: space-between;

    &__action-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
    }
  }

  .product {
    display: flex;
    padding: 5px 10px;

    &.even-row {
      background-color: $accent;
    }

    &__header {
      font-weight: bold;
    }

    &__item {
      transition: 100ms;

      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }

    &__title {
      width: 30%;
    }

    &__description {
      width: 70%;
    }
  }
}
